.title h1{
    margin-top: 50px;
}

.menu-product{
    display: flex;

}
.menu-product div{
    margin-top: 50px;
    margin-right: 50px;
    background-color: #ccc;
    width: 250px;height: 200px;
    text-align: center;
}

.news-web{
    margin-top: 50px;
    display: flex;

}
.news-web .image-news{
    height: 300px;width: 300px;
    margin-right: 20px;
    
}
.news-web .title{
    height: 300px;width: 400px;
    justify-content: center;
}
.news-web .title h2{
    margin-top: 50px;
}
/* Custom Button Colors */
.btn-custom {
    background-color: #5DC47F; 
    color: white;
}

.btn-custom:hover {
    background-color: #5DC47F; 
    color: white; 
}
