@font-face {
    font-family: kkfont;
    src: url('../EkkamaiNew-Regular.ttf');
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: kkfont;
}

.navbar {
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
}

.container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px); /* Adjust height to exclude navbar */
}

.main-content {
    display: flex;
    flex-grow: 1;
    background-color: rgb(186, 183, 183);
}

.sidebar {
    width: 25%;
    background-color: rgb(253, 253, 253);
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.content {
    width: 75%;
    background-color: rgb(186, 183, 183);
    padding: 10px;
    box-sizing: border-box;
}
.column-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    margin-top: 30px;
}


.column-item {
    background-color: #ffffff; /* สีพื้นฐานของปุ่ม */
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    border-radius: 5px;
    height: 50px;
}
.row1{
    height: 60px;
    background-color: white;
    border-radius: 10px ;
    display: flex;
    justify-content: center; /* Center the right-container */
    align-items: center;
    
    
}

.row2{
    height: 60px;
    background-color: rgb(186, 183, 183);
    display: flex;
    justify-content: center; /* Center the right-container */
    align-items: center;
}
.row3{
    height: 400px;
    background-color: rgb(186, 183, 183);
    display: flex;
    justify-content: space-between;
    
}
    
.div1 {
    width: 28%; /* Adjust the width as needed */
    padding: 10px;
    border: 1px solid #fcfcfc;
    background-color: #f8f9fa;
    border-radius: 10px ;
}
.div2{
    width: 67%; /* Adjust the width as needed */
    padding: 10px;
    border: 1px solid #fcfcfc;
    background-color: #f8f9fa;
    border-radius: 10px ;

}
.row4{
    height: 355px;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 10px ;
}

.footer {
    background-color: rgb(250, 250, 250);
    color: rgb(14, 13, 13);
    text-align: center;
    padding: 10px 0;
    height: 100px;
    
}

.profile-container {
    display: flex;
    justify-content: center;

}
.profile-pic {
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
    border: solid 1px #000;
}
.bottom-container {
    background-color: rgb(74, 166, 247);
    padding: 10px;
    margin-top: 490px;
    text-align: center;
    height: 100px;
    border-radius: 10px;
    color: #f8f9fa;
}
.bottom-container button {
    padding: 10px 110px; /* Increase padding to make the button longer */
    font-size: 16px;
    cursor: pointer;
    background-color: #f3f3f4;
    color: rgb(10, 10, 10);
    border: none;
    border-radius: 5px;
}
.divs1 {
    padding: 10px;
    width: 50px; /* Set a fixed width to make the div shorter */
    margin-right: auto; 
    margin-left: 10px;
    cursor: pointer;
    border: none;
    background-color: #fefefe; /* สีพื้นหลังของปุ่ม */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.right-container {
    display: flex;
    justify-content: center; /* Center the divs inside the right-container */
    align-items: center;
    
}

.divs2, .divs3 {
    flex: 1;
    padding: 10px;
    margin-left: 10px; /* Add margin between divs */
    margin-right: 10px;
    cursor: pointer;
    border: none;
    background-color: #fefefe; /* สีพื้นหลังของปุ่ม */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.divr1 {
    padding: 10px;
    width: 200px; /* Set a fixed width to make the div shorter */
    margin-right: auto; 
    margin-left: 10px;
    font-size: 25px;
}
.divr2 {
    flex: 1;
    cursor: pointer;
    border: none;
    padding: 5px;
    margin-left: 10px; /* Add margin between divs */
    margin-right: 10px;
    background-color: rgb(11, 219, 238);
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.column-item:hover {
    background-color: #c1c5c3; /* สีเมื่อเมาส์ชี้ */
}
.image-container {
    margin-bottom: 20px; /* เพิ่มช่องว่างระหว่างรูปกับ div อื่นๆ */
    border: solid 1px #000;
}

.image-container img {
    border-radius: 50%; /* ทำให้กรอบรูปเป็นวงกลม */
    max-width: 100%;
}
.divi{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center; /* จัดให้อยู่ตรงกลางแนวนอน */
    justify-content: flex-end; /* จัดให้อยู่ตรงกลางแนวตั้ง */
}

.divi1 {
    background-color: #f5eded; /* สีพื้นหลังของปุ่ม */
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 5px 0; /* เพิ่มช่องว่างระหว่างปุ่ม */
    width: 80%; /* กำหนดความกว้างของปุ่ม */
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
    color: rgb(7, 7, 7); /* สีข้อความ */
    border-radius: 10px;
}
.divi1:hover {
    background-color: #c1c5c3; /* สีเมื่อเมาส์ชี้ */
}